body {
  font-family: Fira Sans, Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0rem;
  padding: 0rem;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0%;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.subtitle {
  font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}